.home-page {
    width: 1558px;
    height: 964px;
    position: absolute;
    left: 363px;
    top: 116px;
    background: #f5f6fa!important;
}

.header {
    position: absolute;
    left: 3%;
    top: 2%;
    width: 355px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #861F41;
}

.header-card-container {}

.header-card {
    width: 309px;
    height: 147px;
    background: #ffffff;
    border-radius: 10px;
}

.card-body {
    position: absolute;
    left: 10%;
    top: 10%;
}

.card-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #861F41;
}

.card-text {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #861F41;
}

.middle-card {
    width: 649px;
    height: 308px;
    background: #FFFFFF;
    border-radius: 20px;
}

h6 {
    margin-left: -2rem;
    margin-top: -1rem;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
}

.text-in-column {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.middle-card-column {
    display: flex;
    flex-direction: row;
}

.sales-text {
    font-size: 24px;
    line-height: 28px;
    color: #424242;
}

.text-no {
    font-size: 36px;
    line-height: 42px;
    color: #861F41;
}

.middle-card-img {
    width: 60px;
    height: 65px;
}

.middle-card-icon {
    font-size: 60px;
    color: #861F41;
}

.footer-card {
    width: 1107px;
    height: 400px;
}

.footer-card-header {
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
}

.other-appointment {
    padding-left: 3rem!important;
    color: gray;
}

.ongoing {
    color: black;
    border-bottom: 2px solid #861F41;
}

.footer-icon {
    color: #861F41;
    font-size: 50px;
}

.footer-detail {
    display: flex;
    flex-direction: row;
}

.person-detail1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 15%;
}

.name {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
}

.time {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #959393;
}

.influ {
    position: absolute;
    left: 60%;
    width: 59.05px;
    height: 55.58px;
    border-radius: 27px;
}

.person-work {
    position: absolute;
    left: 80%;
    width: 200px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
}

.person-detail2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 125%;
}

.person-detail3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 175%;
}